---
import { z } from "zod";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import DevopsProblem from "../components/devops-problem.astro";
import Card from "../components/card.astro";
import WaitlistButton from "../components/waitlist-button.astro";
import Footer from "../components/footer.astro";
import { client } from "../sanity-client";

const painPoints = [
  // TODO: Fetch these from Sanity.
  "Too complex, cloud is a maze.",
  "Too many tools, config chaos.",
  "Costs run wild, surprise bills.",
  "Security is tricky, who has access?",
  "No visibility, debugging sucks.",
];

const featureCardShape = z.object({
  emoji: z.string(),
  title: z.string(),
  content: z.string(),
});

const featureCards = z.array(featureCardShape).parse(
  await client.fetch(`
    *[_type == 'featureCard'] {
      _id,
      emoji,
      title,
      content
    }
  `),
);
---

<Layout
  schema={[
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      name: "Sokkel",
      alternateName: ["Sokkel", "Sokky", "sokkel.io"],
      url: "https://sokkel.io/",
    },
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      name: "Sokkel",
      url: "https://sokkel.io/",
      logo: "https://sokkel.io/assets/logo.svg",
      sameAs: ["https://www.linkedin.com/company/sokkel"],
      image: "https://sokkel.io/assets/team.jpg",
      description:
        "Sokkel is the foundation and building blocks for managing your applications, smooooothly.",
      telephone: "+4795308087",
      email: "hello@sokkel.io",
      address: {
        "@type": "PostalAddress",
        streetAddress: "Arbins gate 11",
        addressLocality: "Oslo",
        addressCountry: "NO",
        addressRegion: "Oslo",
        postalCode: "0253",
      },
      vatID: "NO935108500",
      iso6523Code: "0192:935108500",
    },
  ]}
>
  <Header link={{ text: "About us", href: "/about-us" }} />
  <main>
    <section id="hero">
      <img src="/assets/logo.svg" alt="Sokkel." class="logo" />
      <h1>
        The AI-powered <span aria-hidden="true">✨</span> platform for managing all
        your applications. <span class="smoooothly">Smoooothly.</span>
      </h1>
      <WaitlistButton />
      <div id="problem">
        Because: <DevopsProblem />
      </div>
    </section>

    <img
      class="illustration lambo-tape"
      src="/assets/lambo-tape.gif"
      alt="Burning Lamborghini with duct tape."
    />

    <h2 id="mission-statement">
      We are on a mission to make DevOps something you <i>don't</i> have to worry
      about.
    </h2>

    <section id="pain-points">
      <h3>DevOps today? Kinda painful.</h3>
      <ol>
        {painPoints.map((point) => <li>{point}</li>)}
      </ol>
    </section>

    <section id="cards">
      <h2>That's why Sokkel is making it smooooth:</h2>
      {
        featureCards.map(({ emoji, title, content }) => (
          <Card emoji={emoji} title={title}>
            {content}
          </Card>
        ))
      }
    </section>
  </main>
  <Footer
    links={[
      { href: "/game", text: "DevOps card game" },
      { href: "/about-us", text: "About us" },
    ]}
    }
  />
</Layout>

<style>
  main {
    --gap: 6rem;

    margin-top: 15dvh; /* TODO: I'm not entirely sure about this behaviour. */
    margin-bottom: var(--gap);

    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    line-height: 2rem;
    gap: var(--gap);
  }

  .illustration {
    display: block;
    align-self: center;
    width: 100%;
    max-width: 445px;
    margin-block: 1rem;
  }

  section#hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      line-height: 2.9rem;
      margin-block: 0;
      text-wrap: pretty;

      .smoooothly {
        background: linear-gradient(
          270deg,
          #ccccff 31.45%,
          #9999ff 40.36%,
          #6666ff 48.59%,
          #3333ff 57.5%,
          #0000ff 65.72%,
          #0000cc 74.64%,
          #000099 83.55%,
          #000066 91.77%,
          #000033 100%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .logo {
      max-width: 212px;
      /* Set the specific height to prevent the content from jumping on page load.*/
      height: 32px;
    }

    #problem {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #525252;
    }
  }

  .lambo-tape {
    max-width: 90%;
  }

  h2#mission-statement {
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 3rem;
  }

  section#pain-points {
    h3 {
      margin: 0;
      font-size: 1rem;
      font-style: italic;
    }

    ol {
      margin: 0;
      padding-inline: 1.5rem;
      font-size: 1rem;
    }
  }

  section#cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      line-height: unset;
      font-size: 1.2rem;
      font-weight: 400;
      font-style: italic;
    }
  }
</style>
